<!-- aside block start -->
<aside>
	<div class="content">
		<div id="aside-slider">
			<ul class="slides">
				<li><img src="img/banner1.png" alt="Официальный поставщик минеральной воды ко двору царя иоанна IV"></li>
				<li><img src="img/banner1.png" alt="Официальный поставщик минеральной воды ко двору царя иоанна IV"></li>
				<li><img src="img/banner1.png" alt="Официальный поставщик минеральной воды ко двору царя иоанна IV"></li>
			</ul>
		</div>
		<div class="hr"></div>
		<ul class="btn-group">
			<li><a href="#">Заказать воду с доставкой</a></li>
			<li><a href="#">Заказать обратный звонок</a></li>
			<li><a href="#">Онлайн чат с менеджером</a></li>
		</ul>
	</div>
</aside>
<!-- aside block end -->