<!-- about start -->
<div id="about-slider">
	<ul class="slides">
		<li>
			<div class="bottle">
				<div class="table">
					<div class="cell">
						<p>SI</p>
						<span>Кремний: 5</span>
						<div class="hint">
							<p>Кремний активизирует воду, меняет её структуру, выводит в осадок соединения тяжелых металлов, подавляет болезнетворную микрофлору. Кремень во много раз ускоряет окислительно-восстановительные реакции в воде, придавая ей целебные свойства.</p>
						</div>
					</div>
					<div class="cell">
						<p>CA</p>
						<span>Кальций: 68</span>
						<div class="hint">
							<p>Кремний активизирует воду, меняет её структуру, выводит в осадок соединения тяжелых металлов, подавляет болезнетворную микрофлору.</p> 
						</div>
					</div>
					<div class="cell">
						<p>NA</p>
						<span>Натрий: 10</span>
					</div>
					<div class="cell">
						<p>K</p>
						<span>Калий: 0,1</span>
						<div class="hint">
							<p>Кремний активизирует воду, меняет её структуру, выводит в осадок соединения тяжелых металлов, подавляет болезнетворную микрофлору. Кремень во много раз ускоряет окислительно-восстановительные реакции в воде, придавая ей целебные свойства.</p>
						</div>
					</div>
					<div class="cell">
						<p>MG</p>
						<span>Магний: 29</span>
					</div>
					<div class="cell">
						<p>F</p>
						<span>Фтор: 0,3</span>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<p class="text">*Анализ произведен Испытательной лабораторией минеральных вод Всероссийского научно-исследовательского института пивоваренной, безалкогольной и винодельческой промышленности Российской академии сельскохозяйственных наук.</p>
		</li>
		<li>
			<div class="bottle">
				<div class="table">
					<div class="cell">
						<p>SI</p>
						<span>Кремний: 5</span>
						<div class="hint">
							<p>Кремний активизирует воду, меняет её структуру, выводит в осадок соединения тяжелых металлов, подавляет болезнетворную микрофлору. Кремень во много раз ускоряет окислительно-восстановительные реакции в воде, придавая ей целебные свойства.</p>
						</div>
					</div>
					<div class="cell">
						<p>CA</p>
						<span>Кальций: 68</span>
						<div class="hint">
							<p>Кремний активизирует воду, меняет её структуру, выводит в осадок соединения тяжелых металлов, подавляет болезнетворную микрофлору. </p>
						</div>
					</div>
					<div class="cell">
						<p>NA</p>
						<span>Натрий: 10</span>
					</div>
					<div class="cell">
						<p>K</p>
						<span>Калий: 0,1</span>
						<div class="hint">
							<p>Кремний активизирует воду, меняет её структуру, выводит в осадок соединения тяжелых металлов, подавляет болезнетворную микрофлору. Кремень во много раз ускоряет окислительно-восстановительные реакции в воде, придавая ей целебные свойства.</p>
						</div>
					</div>
					<div class="cell">
						<p>MG</p>
						<span>Магний: 29</span>
					</div>
					<div class="cell">
						<p>F</p>
						<span>Фтор: 0,3</span>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<p class="text">*Анализ произведен Испытательной лабораторией минеральных вод Всероссийского научно-исследовательского института пивоваренной, безалкогольной и винодельческой промышленности Российской академии сельскохозяйственных наук.</p>
		</li>
	</ul>
</div>
<!-- about end --> 