<!-- footer start -->
<footer>
	<a href="index.html"><img src="img/ui/logo.png" alt=""></a>
	<ul class="menu">
		<li><a href="about.html">о компании</a></li>
		<li><a href="products.html">продукция</a></li>
		<li><a href="contacts.html">контакты</a></li>
		<li><a href="partners.html">партнеры</a></li>
		<li><a href="news.html">новости</a></li> 
		<li><a href="gallery.html">галерея</a></li> 
	</ul>
	<p class="copyright">© 2013-2016 RusseQuelle</p>
</footer>
<div id="pop-bg"></div>
<div id="qty" class="popup">
	<a href="" class="close"></a>
	<p class="header">Укажите количество бутылок <br> (упакованы по 12 штук)</p>
	<div class="in">
		<ul class="qty-list">
			<li>12</li>
			<li>24</li>
			<li>36</li>
			<li>48</li>
			<li>60</li>
			<li>72</li>
			<li>84</li>
			<li>96</li>
			<li>108</li>
			<li>120</li>
			<li>132</li>
			<li>144</li>
			<li>156</li>
			<li>168</li>
			<li>180</li>
		</ul>
		<a href="" class="btn">Готово</a>
	</div>
</div>
<div id="terms" class="popup">
	<a href="" class="close"></a>
	<p class="header">Условия оплаты и доставки</p>
	<div class="in">
		<div class="text">
			<p>В основу концепции RusseQuelle заложен принцип абсолютной чистоты. Источник имеет историю более 500 лет и находится в уникальном месте России, городе Гороховец, входящем в Золотое Кольцо страны.</p>
			<p>В основу концепции RusseQuelle заложен принцип абсолютной чистоты. Источник имеет историю более 500 лет и находится в уникальном месте России, городе Гороховец, входящем в Золотое Кольцо страны.</p>
		</div>
		<a href="" class="btn">Ок</a>
	</div>
</div>
<!-- footer end -->