<!-- footer start -->
<footer>
	<img src="img/ui/logo.png" alt="">
	<ul class="menu">
		<li><a href="index.html">главная</a></li>
		<li><a href="#">о компании</a></li>
		<li><a href="products.html">продукция</a></li>
		<li><a href="#">контакты</a></li>
		<li><a href="#">партнеры</a></li>
		<li><a href="news.html">новости</a></li> 
	</ul>
	<p class="copyright">© 2013-2016 RusseQuelle</p>
</footer>
<div id="pop-bg"></div>
<div id="qty" class="popup">
	<a href="" class="close"></a>
	<p class="header">Укажите количество бутылок <br> (упакованы по 12 штук)</p>
	<div class="in">
		<ul class="qty-list">
			<li class="active">12</li>
			<li>24</li>
			<li>36</li>
			<li>48</li>
			<li>60</li>
			<li>72</li>
		</ul>
		<a href="" class="btn">Готово</a>
	</div>
</div>
<!-- footer end -->