<!-- product start -->
<div class="item" style="background-image: url(img/bottle.jpg);"> 
	<div class="short">
		<span class="vol">0,8l</span>
		<span class="qty">12 шт в упаковке</span>
	</div>
	<div class="info">
		<div class="cell"> 
			<div class="in">
				<p class="header">Минеральная вода RusseQuelle 0,7 л (упаковка: стекло)</p>
				<div class="qty">
					12 шт. в упаковке 
					<div class="what">?
						<div class="hint">
							<p>В стандартной упаковке 12 стеклянных бутылок по 0,7 л</p>
						</div>
					</div>
				</div> 
				<div class="price"> 
					<span>цена за </span>
					<select class="select">
						<option value="12">12</option>
						<option value="18">18</option>
						<option value="24">24</option>
					</select>
					<span>шт</span>
					<span class="uah">900 р.</span> 
				</div>
				<p><a href="#" class="add">Добавить в корзину</a></p>
				<a href="one.html" class="btn more">Подробнее о воде</a>
			</div>
		</div>
	</div>
</div>
<!-- product finish -->