<!-- menu start -->
<div id="menu" class="hidden">
	<a href="" class="toggle"><span></span></a>
	<span class="menu">меню</span>
	<div class="line">
		<ul class="lang">
			<li><a href="#" class="active">ru</a></li>
			<li><a href="#">en</a></li>
		</ul>
		<a href="#" class="login">войти на сайт</a>
	</div>
	<ul id="user">
		<li><a href="cart.html" class="cart"></a></li>
		<li><a href="login.html" class="user"></a></li>
	</ul>
	<nav>
		<a href="index.html">главная</a>
		<a href="about.html">о компании</a>
		<a href="products.html">продукция</a>
		<a href="contacts.html">контакты</a>
		<a href="partners.html">партнеры</a>
		<a href="news.html">новости</a> 
		<a href="gallery.html">галерея</a>  
	</nav>
	<ul class="soc">
		<li><a href="#" class="fb"></a></li>
		<li><a href="#" class="in"></a></li>
		<li><a href="#" class="vk"></a></li>
		<li><a href="#" class="tw"></a></li>
	</ul>
</div>
<div id="fix"></div>
<!-- menu end -->