<!-- top start -->
<!DOCTYPE html> 
<html>
<head>
	<title>RQ</title> 
	<meta charset="UTF-8">
	<link href="css/vendor/flexslider.css" rel="stylesheet">
	<link href="css/vendor/jquery-ui.min.css" rel="stylesheet">
	<link href="css/vendor/jquery.fancybox.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="js/vendor/jquery.flexslider-min.js"></script>
	<script src="js/vendor/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script> 
</head>
<body>
<div id="loader"></div>
<!-- top end --> 